:root{
    --border: #e7e7e7;
    --contrast: #7f8e76;
    --contrast-light: #f5faf2;
    --price: #00a3a4;
    --text-dark: #1f1f1f;
    --text-inverse: #fff;
    --text-light: #545454;
    --text-title: #101010;
}